/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .product-section {
        grid-template-columns: 1fr;
    }

    .might-like-section .might-like-grid {
        grid-template-columns: 1fr;
    }

    .cart-section {

        grid-template-columns: 1fr;

        .cart-buttons {
            flex-direction: column;
            text-align: center;
        }

        .cart-table-row {

            .cart-table-row-left {
                width: 30%;
            }

            .cart-table-row-right {
                width: 55%;
            }

            img {
                display: none;
            }

        }

        .have-code-container {
            width: 100%;
        }

        .cart-totals {
            flex-direction: column;

            .cart-totals-left {
                width: 100%;
                margin-bottom: 20px;
            }

            .cart-totals-right {
                width: 100%;
            }
        }

    }


    .checkout-section {
        grid-template-columns: 1fr;

        .checkout-table-container {
            margin-left: 10px;
        }
    }

    .auth-pages {
        margin: 50px auto;
        grid-template-columns: 1fr;
        grid-gap: 40px;

        .auth-right {
            border-left: none;
            padding-left: 20px;
        }
    }

    .my-profile input {
        width: 100%;
    }

    .my-orders .order-header-items {
        display: block;
    }


    .my-orders .order-header-items > div {
        margin-bottom: 14px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}